.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        background: #C70101;
        height: 270px;
        padding: 50px 68px 60px 68px;
    }
    &__addres {
        margin-bottom: 36px;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    &__phone {
        display: block;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'MuseoModerno';
        margin-bottom: 31px;

    }
    &__social-item {
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 52px;
        //border: 2px solid #FFFFFF;
        //border-radius: 100%;
    }
}